/*#background{
  background-color: blue;*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #E4F9F5;
  padding: 50px 0 20px;
}

body {
  margin-top: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
left:250px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top:40px;
}

.skill-row {
  position: relative;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

hr{
  border:dotted #eaf6f6;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: Montserrat,sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: green;
}

.code_img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.running_img {
  width: 25%;
  float: right;
  margin-left: 30px;
  clear: left;
  border-radius: 50%;
}

.intro {
  width: 30%;
  margin: auto;
}

/*#background{
  background-color: blue;*/
/* BUTTON FROM BUTTONCREATOR.COM */
.contact_button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 46px;
  line-height: 46px;
  color: #FFFFFF;
  font-family: Montserrat;
  width: 185px;
  font-size: 21px;
  font-weight: 900;
  padding: 12px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact_button:hover {
   border: solid blue 1px;
   background: #30E3CB;
background-color: #66BFa0;

  
}

.contact-me {}

  .copyright{
    color:#eaf6f6;
    font-size: 0.76rem;
    padding: 20px o;
    color:#eaf6f6;
  }
